<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FilmFileNumber.Properties.Settings.SGlive_dosrunConnectionString"
            connectionString="Data Source=sgmissql;Initial Catalog=SGlive_dosrun;Persist Security Info=True;User ID=psweb;Password=sS*?wEb"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>